<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>{{ blog.subject }}</h1>
    <p>{{ blog.content }}</p>
    <h5>{{ blog.comment_set.count }}개의 댓글이 있습니다.</h5>
    <ul>
        {% for comment in blog.comment_set.all %}
        <li>{{ comment.comment}}</li>
        {% endfor %}
    </ul>
    <form action="{% url 'main:comment_create' blog.id %}" method="POST">
        {% csrf_token %}
        <textarea name="comment" id="comment" rows="10" placeholder="Text..."></textarea>
        <input type="submit" value="등록">
    </form>
    <a href="{% url 'main:main' %}">돌아가기</a>
</body>
</html>